<html>
  <head>
    <title>404</title>
      <link rel="icon" href="/img/cloudy.png" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="header">
      {{>header}}

      <p> {{msg}}</p>
    </div>
    <div class="footer">
      {{>footer}}
    </div>
  </body>
</html>