<html>
  <head>
    <title>About</title>
      <link rel="icon" href="/img/cloudy.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
      <div class="header">
      {{>header}}
        <img class="portrait" alt="hitesh" src="./img/hitesh.png" />
    </div>
    <div class="footer">
      {{>footer}}
    </div>
  </body>
</html>