<html>
  <head>
    <title>Help</title>
      <link rel="icon" href="/img/cloudy.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
     <div class="header">
      {{>header}}

      <p>Description: {{desc}}</p>
    </div>
    <div class="footer">
      {{>footer}}
    </div>
  </body>
</html>